.Paintings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-gap: 20px;
    margin-top: 45px;
}


.textPaintings{
    height: 51px;
    border-radius: 0 0 20px 20px;
    background: rgba(255, 255, 255, 0.75);
    padding: 5px 0 5px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    transition: 300ms;
    z-index: 100;
    position: absolute;
    margin-top: 225px;
    width: 100%;
    
    
}
.imgPaintings img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.imgPaintings{
    position: absolute;
    width: 360px;
    height: 275px;
    
}



.paint {
    height: 275px;
    position: relative;
} 
.paint:hover {
    cursor: pointer;
}

.paint:hover .textPaintings{
    height: 145px;
    margin-top: 131px;
}

.vis{
    opacity: 0;
    transition: 0.2s ease;
    display: none;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.paint:hover .vis{
    opacity: 1;
    display: block;
    transition: 1s ease;
    animation: fadeInFromNone 0.5s ease-in-out;
}

.visName{
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
}

.textPaintings div{
    background: rgba(255, 255, 255, 0);
}

.visName{
    background: rgba(255, 255, 255, 0);
}


@keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      opacity: 1;
    }
}



@media (min-width: 1024px) and (max-width: 1365px) {
    .imgPaintings{
        width: 300px;
        height: 230px;
    }
    .paint {
        height: 230px;
    } 
    .textPaintings{
        margin-top: 180px;
    }
    .paint:hover .textPaintings{
        height: 120px;
        margin-top: 111px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .Paintings{
        grid-template-columns: 1fr 1fr;
    }
    .paint {
        height: 250px;
    } 
    .imgPaintings{
        width: 340px;
        height: 250px;
    }
    .textPaintings{
        margin-top: 200px;
    }
    .paint:hover .textPaintings{
        height: 130px;
        margin-top: 121px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .Paintings{
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 30px;
    }
    .paint{
        width: 280px;
        height: 205px;
    }
    .imgPaintings{
        width: 280px;
        height: 205px;
    }
    .textPaintings{
        margin-top: 155px;
    }
    .paint:hover .textPaintings{
        height: 120px;
        margin-top: 86px;
    }
    .pagin{
        display: flex;
        justify-content: center;
    }
}